/**
    1. General (site-wide) styles
        - Body
        - Header
        - Main
        - Aside
        - Footer
    2. Page-specific styles
        - Index page
        - Login page
 */


/*****************************************************************
                    ----- General styles -----
******************************************************************/

/***************************
            Body
****************************/

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    color: darkslategray;
    display: flex;
    flex-wrap: wrap;
}



/***************************
            Header
****************************/

header {
    display: flex;
    align-items: center;
    width: 100%;
}

header a {
    text-decoration: none;
    padding: 1em;
    color: darkslategray;
}

header a:hover {
    font-weight: bold;
}

#logo {
    width: 100px;
}

#logo img {
    max-width: 100%;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}

.page-link {
    margin-left: auto;
}



/***************************
            Main
****************************/

main {
    margin-bottom: 1em;
}



/***************************
            Aside
****************************/

aside {
    margin-bottom: 1em;
}



/***************************
            Footer
****************************/

footer {
    width: 100%;
    min-height: 100px;
    text-align: center;
    border-top: 1px solid black;
}

footer span {
    display: inline-block;
    line-height: 100px; /* line-height needed to vertically align text */
}



/*****************************************************************
                ----- Page-specific styles -----
******************************************************************/

/***************************
        Index page
****************************/

/* Main */

.index-main {
    width: 65%;
    margin-right: 1em;
}



/* Main intro */

.intro {
    margin-bottom: 2em;
}



/* Main news */

.news {
    display: flex;
    flex-wrap: wrap;
}
  
.news h2 {
    width: 100%;
}
  
.news-item {
    flex: 1;
    border-radius: 10px;
    padding: 1em;
    background-color: rgba(251, 191, 101, 0.5);
}

.news-item h3 {
    font-size: x-large;
}

.news-item figure {
    width: 100px;
    float: right;
}

.news-item figure img {
    max-width: 100%;
}

.news-item figcaption {
    font-size: smaller;
}

.news-item:nth-child(2) {
    margin-right: 1em;
}

.news-item:nth-child(2) p:nth-child(5) {
    font-weight: bold;
    color: blue;
}



/* Aside */

.index-aside {
    width: 25%;
    background-color: whitesmoke;
}

.index-aside h2 {
    padding: 1em;
}

.index-aside ul {
    list-style-type: none;
    padding: 1em;
}

.index-aside ul > li {
    padding: 1em;
    margin-bottom: 0.5em;
}

.index-aside ul > li:nth-child(odd) {
    background-color: lightgray;
}

.index-aside ul > li:nth-child(even) {
    background-color: darkgray;
}

.index-aside ul > li:nth-child(even) * {
    color: white;
}

.index-aside p {
    font-size: smaller;
}



/***************************
        Login page
****************************/

.login-main {
    width: 100%;
}

.login-main h2 {
    text-transform: uppercase;
}

.login-form {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 1em;
}

.login-form fieldset {
    margin-bottom: 1em;
}

.login-form input[type=text] {
    display: block;
    margin-bottom: 1em;
}

.login-form input[type=reset],
.login-form input[type=submit] {
    border-radius: 5px;
    border: none;
    padding: 0.5em 1em;
}

.login-form input[type=reset]:hover,
.login-form input[type=submit]:hover {
    cursor: pointer;
}

.login-form input[type=reset] {
    background-color: lightcoral;
    margin-right: 1em;
}

.login-form input[type=submit] {
    background-color: lightgreen;
}